<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    {{ partial "header.html" . }}
    {{ partial "breadcrumb.html" . }}

    <section
      id="public-speaking"
      class="content-list section section--border-bottom rad-animation-group">

      <div class="container">
        <p class="lead">
          Gelegentlich halte ich Präsentationen, Vorträge oder beteilige mich an Events zu den Themen, die mich interessieren.
        </p>

        <div class="row">
          <ul class="row col-12 book-category-content">
            {{ range .Pages }}
              {{ .Render "summary"}} 
            {{ end }}
          </ul>
        </div>
      </div>
    </section>

    {{ partial "footer.html" . }}
    {{ partial "base-foot.html" . }}
  </body>
</html>
<!-- endinject -->
