<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    {{ partial "header.html" . }}
    {{ partial "breadcrumb.html" . }}

    <section id="books" class="content-list section section--border-bottom rad-animation-group">
      <div class="container">
        <p class="lead">
          Dies ist eine Liste der Bücher, die bei mir einen Eindruck hinterlassen haben. Sie
          repräsentiert die Themen, für die ich mich beruflich, als Hobby oder intellektuell interessiere. Ich habe
          immer eine "Empfehlungsliste" haben wollen, auf die ich verweisen kann wenn ich mit jemandem über diese Themen
          spreche.
          <br />
          Ich habe nur Bücher aufgenommen, die ich gelesen habe, damit ich über sie sprechen kann, sowie eine "Wunschliste" am Ende.
          <br />
          Falls du ein Buch siehst, das in die Liste passen könnte und fehlt - lass es mich wissen! Ich bin sehr offen für Vorschläge. 
        </p>

        <!-- {{ $book_categories := slice "Engineering Management" "Organization design" "Software engineering and development" "Product, strategy and business" "Leadership" "Workplace and culture" "Biographies/company stories" "Psychology" "Society, world and future" "Sport & performance" "My reading list" }}-->
        {{ $book_categories := slice "Organization design" "Software engineering and development" "Product, strategy and business" "Leadership" "Psychology" }}
        {{ range $book_categories }}
        <div class="row">
          <h2 id="{{ anchorize . }}" class="book-category clearfix">
            <a href="#{{ anchorize . }}" class="book-category-anchor"><span class="icon">🔗</span> {{ . }}</a>
          </h2>
          <ul class="row col-12 book-category-content">
            {{ range where (where site.RegularPages "Draft" false) "Params.book_categories" "intersect" (slice . ) }} 
              {{ .Render "summary"}}
            {{ end }}
          </ul>
        </div>

        {{ end }}
      </div>
    </section>

    {{ partial "footer.html" . }}
    {{ partial "base-foot.html" . }}
  </body>
</html>
<!-- endinject -->
